/*Change Bootstrap border and box-shadow of Nav-Button(Sidebar Button/Menu-Button)*/
.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* ---------- */

/* Search Field Styling */
input[type="search"] {
    background: transparent !important;
    border: 1px solid #0DCAF0;
    color: #0DCAF0 !important;
    outline: none;
}

input[type="search"]::placeholder {
    color: #0DCAF0;
}

/* ---------- */

/* Custom Styling Nav-Button(Sidebar Button/Menu-Button) */
.bar {
    width: 25px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 8px;
    transition: all .3s ease;
}

.bar1 {
    transform: rotate(-405deg);
    transform-origin: center;
}

.bar2 {
    transform: scale(0);
}

.bar3 {
    transform: rotate(405deg);
    transform-origin: center;
    margin-top: -1.2rem;
}

/* ------------- */

.main {
    display: grid;
    grid-template-columns: 260px 1fr;
}

/* Custom Styling Sidebar */
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh;
    z-index: 99;
    overflow-y: auto;
}

.sidebar>ul {
    padding-top: 55px;
}

/* Styling Sidebar Scrollbar */
.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.296);
}

.sidebar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

/* ----- */

.sidebar a {
    transition: all .3s ease;
}

.sidebar a:hover {
    background-color: cyan;
    border-radius: 3px;
    color: black;
}

.active {
    background: crimson;
    color: white;
    border-radius: 3px;
}

/* ---------- */


/* Media Query For Making Responsive */
@media screen and (max-width:992px) {
    .sidebar {
        left: -500px;
        transition: all .3s ease;
    }

    /* Sidebar On-Off on toggle */
    .on_off {
        left: 0;
    }

    .main {
        grid-template-columns: 1fr;
    }
}

/* End Of Media Query */